<p>
  <%= label_tag l("redmine_field_conditions.label_enabled") %>
  <%= check_box_tag(
        "#{@param_name}[conditions][enabled]",
        '1',
        @parsed_conditions && @parsed_conditions['enabled']
      ) %>
  <%= l("redmine_field_conditions.label_active") %>
</p>

<% if @parsed_conditions && @parsed_conditions['rules'].present? %>
  <% @parsed_conditions['rules'].each_with_index do |obj, n| %>
    <%= build_conditions_form(@custom_field, obj, n) %>
  <% end %>
<% else %>
  <p><em><%= l("redmine_field_conditions.label_no_rules") rescue "No rules defined" %></em></p>
<% end %>
